In [1]:
import pandas as pd
import glob

# files=glob.glob('온도*.txt')

# temp = []
# for filename in files:
#     temp.append(pd.read_csv(filename, sep='\t', encoding='cp949'))


# temp = pd.concat(temp, ignore_index=True)

files=glob.glob('전력*.txt')

ele = []
for filename in files:
    ele.append(pd.read_csv(filename, sep='\t', encoding='cp949'))


ele = pd.concat(ele, ignore_index=True)

In [418]:
# ele_drop.to_csv('ele_tttt.csv', index=False, encoding='euc-kr')

In [2]:
ele_drop = ele.drop(['HA','APT_TF','M2','PersonCount'], axis=1)

ele_num = ele_drop['H_ID'] == 3
elenum = ele_drop[ele_num]

temp_1 = elenum['PointName'] == '전력총합'
temp_2 = elenum['PointName'] == '세탁기' 
ele_total = elenum[temp_1]
ele_se = elenum[temp_2]

ele_total = ele_total.sort_values(['ST_DATE'])
ele_se = ele_se.sort_values(['ST_DATE'])

In [4]:
ele_merge = pd.merge(ele_total, ele_se, on = 'ST_DATE')

In [5]:
title = ['H_ID_x', 'ST_DATE', 'PointName_x']

In [6]:
for i in range(144) :
    title.append('x')

In [7]:
title.append('H_ID_y')

In [8]:
title.append('PointName_y')

In [9]:
for i in range(144) :
    title.append('x')

In [10]:
len(title)

293

In [164]:
ele_merge

,H_ID_x,ST_DATE,PointName_x,x,x,x,x,x,x,x,...,x,x,x,x,x,x,x,x,x,x
0,3,2011-12-13,전력총합,0.054,0.063,0.049,0.046,0.043,0.068,0.064,...,0.000,0.000,0.000,0.001,0.000,0.000,0.000,0.000,0.000,0.000
1,3,2011-12-15,전력총합,0.044,0.040,0.045,0.043,0.046,0.049,0.032,...,0.001,0.000,0.000,0.000,0.000,0.000,0.000,0.001,0.000,0.000
2,3,2011-12-17,전력총합,0.061,0.039,0.016,0.031,0.042,0.008,0.021,...,0.007,0.008,0.006,0.007,0.004,0.005,0.006,0.004,0.003,0.003
3,3,2011-12-19,전력총합,0.045,0.009,0.037,0.037,0.075,0.008,0.065,...,0.000,0.000,0.000,0.000,0.000,0.001,0.000,0.000,0.000,0.000
4,3,2011-12-20,전력총합,0.053,0.035,0.048,0.060,0.057,0.022,0.068,...,0.000,0.041,0.036,0.033,0.016,0.025,0.010,0.017,0.023,0.033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,3,2012-04-24,전력총합,0.026,0.042,0.039,0.068,0.053,0.044,0.064,...,0.000,0.000,0.001,0.000,0.000,0.000,0.000,0.001,0.000,0.000
100,3,2012-04-25,전력총합,0.044,0.043,0.045,0.043,0.045,0.044,0.062,...,0.000,0.000,0.006,0.001,0.004,0.042,0.042,0.022,0.015,0.003
101,3,2012-04-26,전력총합,0.014,0.050,0.023,0.034,0.040,0.053,0.032,...,0.007,0.008,0.006,0.007,0.004,0.005,0.006,0.000,0.000,0.003
102,3,2012-04-27,전력총합,0.068,0.063,0.038,0.058,0.037,0.059,0.067,...,0.007,0.008,0.006,0.007,0.004,0.005,0.006,0.004,0.003,0.003
103,3,2012-04-28,전력총합,0.071,0.035,0.031,0.050,0.079,0.052,0.063,...,0.007,0.008,0.006,0.007,0.004,0.005,0.006,0.004,0.003,0.003

In [11]:
ele_merge.columns = title

In [12]:
ele_x = ele_merge.iloc[:, [3, 149]]

In [13]:
cnt = 3
cnt1 = 149
ele_x = ele_merge.iloc[:, [cnt, cnt1]]

while cnt < 146 :
    cnt = cnt + 1
    cnt1 = cnt1 + 1 
    plus = ele_merge.iloc[:, [cnt, cnt1]]
    ele_x = ele_x.append(plus)

In [14]:
ele_x

         x      x
0    0.054  0.004
1    0.044  0.000
2    0.061  0.010
3    0.045  0.000
4    0.053  0.000
..     ...    ...
99   0.041  0.000
100  0.033  0.003
101  0.034  0.003
102  0.012  0.003
103  0.044  0.003

[14976 rows x 2 columns]

In [15]:
ele_x['hour'] = 3

In [16]:
num = []
for a in range(0,24) :
    num.append(a)
    num.append(a)
    num.append(a)
    num.append(a)
    num.append(a)
    num.append(a)

In [18]:
cnt3 = 0
for b in range(14976) :
    ele_x.iloc[b, 2] = num[cnt3]
    cnt3 += 1
    if cnt3 == 144 :
        cnt3 = 0

In [20]:
ele_x

         x      x  hour
0    0.054  0.004     0
1    0.044  0.000     0
2    0.061  0.010     0
3    0.045  0.000     0
4    0.053  0.000     0
..     ...    ...   ...
99   0.041  0.000    23
100  0.033  0.003    23
101  0.034  0.003    23
102  0.012  0.003    23
103  0.044  0.003    23

[14976 rows x 3 columns]

In [22]:
ele_y = ele_x.iloc[:, 1]
ele_X = ele_x.iloc[:, [0,2]]

In [33]:
ele_Y = ele_y

In [39]:
for i in range(14976) :
    if ele_y.iloc[i] > 0.007 :
        ele_Y.iloc[i] = 1
    else :
        ele_Y.iloc[i] = 0

In [40]:
ele_Y

0      0.0
1      0.0
2      1.0
3      0.0
4      0.0
      ...
99     0.0
100    0.0
101    0.0
102    0.0
103    0.0
Name: x, Length: 14976, dtype: float64

In [118]:
# 5_label = ['5m_lable.txt']
test = []
for filename in ['5m_lable.txt']:
    test.append(pd.read_csv(filename, sep='\t', encoding='cp949'))


test = pd.concat(test, ignore_index=True)

In [119]:
test_drop = test.drop(['HA','APT_TF','M2','PersonCount'], axis=1)

test_num = test_drop['H_ID'] == 3
testnum = test_drop[test_num]

temp_1 = testnum['PointName'] == '전력총합'
temp_2 = testnum['PointName'] == '세탁기' 
test_x = testnum[temp_1]
test_y = testnum[temp_2]

test_x = test_x.sort_values(['ST_DATE'])
test_y = test_y.sort_values(['ST_DATE'])

In [121]:
test_y

,H_ID,ST_DATE,PointName,H00_1,H00_2,H00_3,H00_4,H00_5,H00_6,H01_1,...,H22_3,H22_4,H22_5,H22_6,H23_1,H23_2,H23_3,H23_4,H23_5,H23_6
193,3,2012-05-01,세탁기,0.004,0.003,0.003,0.002,0.002,0.001,0.001,...,0.007,0.000,0.001,0.000,0.000,0.000,0.006,0.001,0.000,0.003
199,3,2012-05-02,세탁기,0.000,0.000,0.001,0.000,0.000,0.000,0.000,...,0.018,0.011,0.009,0.011,0.000,0.001,0.000,0.000,0.000,0.000
205,3,2012-05-03,세탁기,0.001,0.000,0.000,0.000,0.000,0.001,0.000,...,0.007,0.008,0.006,0.042,0.004,0.005,0.006,0.004,0.003,0.000
211,3,2012-05-04,세탁기,0.004,0.003,0.003,0.002,0.002,0.001,0.001,...,0.007,0.008,0.006,0.007,0.000,0.005,0.006,0.004,0.003,0.003
217,3,2012-05-05,세탁기,0.004,0.003,0.003,0.002,0.002,0.001,0.001,...,0.000,0.000,0.000,0.000,0.001,0.000,0.000,0.000,0.000,0.001
223,3,2012-05-06,세탁기,0.000,0.000,0.000,0.000,0.001,0.000,0.000,...,0.007,0.000,0.001,0.000,0.000,0.000,0.000,0.001,0.000,0.000
229,3,2012-05-07,세탁기,0.000,0.000,0.001,0.000,0.002,0.001,0.001,...,0.007,0.008,0.006,0.007,0.000,0.000,0.000,0.001,0.003,0.000
235,3,2012-05-08,세탁기,0.004,0.003,0.003,0.002,0.002,0.001,0.001,...,0.007,0.008,0.000,0.007,0.004,0.005,0.006,0.004,0.003,0.003
241,3,2012-05-09,세탁기,0.004,0.003,0.003,0.002,0.002,0.001,0.001,...,0.000,0.000,0.000,0.001,0.000,0.000,0.000,0.000,0.001,0.000
247,3,2012-05-10,세탁기,0.000,0.000,0.000,0.000,0.001,0.000,0.000,...,0.001,0.000,0.000,0.000,0.000,0.001,0.000,0.000,0.000,0.000
253,3,2012-05-11,세탁기,0.001,0.000,0.000,0.000,0.000,0.001,0.000,...,0.000,0.001,0.000,0.000,0.000,0.000,0.001,0.000,0.000,0.000
259,3,2012-05-12,세탁기,0.000,0.001,0.000,0.000,0.000,0.000,0.000,...,0.012,0.042,0.042,0.042,0.004,0.000,0.000,0.000,0.000,0.001
265,3,2012-05-13,세탁기,0.040,0.042,0.042,0.024,0.019,0.021,0.007,...,0.026,0.039,0.000,0.000,0.000,0.000,0.001,0.004,0.003,0.003
271,3,2012-05-14,세탁기,0.000,0.001,0.000,0.000,0.000,0.000,0.001,...,0.000,0.000,0.001,0.000,0.000,0.000,0.000,0.001,0.000,0.000
277,3,2012-05-15,세탁기,0.000,0.000,0.001,0.000,0.000,0.000,0.000,...,0.001,0.000,0.000,0.000,0.000,0.001,0.000,0.000,0.000,0.000
283,3,2012-05-16,세탁기,0.001,0.000,0.000,0.000,0.000,0.000,0.001,...,0.000,0.001,0.000,0.000,0.000,0.000,0.000,0.001,0.000,0.000
289,3,2012-05-17,세탁기,0.000,0.000,0.001,0.000,0.000,0.000,0.000,...,0.007,0.008,0.019,0.011,0.001,0.000,0.000,0.000,0.000,0.001
295,3,2012-05-18,세탁기,0.000,0.000,0.000,0.000,0.042,0.039,0.001,...,0.007,0.008,0.006,0.007,0.004,0.005,0.006,0.004,0.003,0.003
301,3,2012-05-19,세탁기,0.004,0.003,0.003,0.002,0.002,0.001,0.001,...,0.000,0.008,0.006,0.007,0.004,0.005,0.000,0.000,0.003,0.003
307,3,2012-05-20,세탁기,0.004,0.000,0.003,0.000,0.001,0.000,0.001,...,0.010,0.039,0.001,0.000,0.001,0.000,0.000,0.000,0.000,0.001
313,3,2012-05-21,세탁기,0.004,0.003,0.003,0.002,0.002,0.000,0.001,...,0.007,0.008,0.006,0.000,0.004,0.005,0.006,0.004,0.003,0.003
319,3,2012-05-22,세탁기,0.004,0.003,0.003,0.002,0.002,0.001,0.001,...,0.000,0.000,0.001,0.000,0.000,0.000,0.000,0.001,0.000,0.000
325,3,2012-05-23,세탁기,0.000,0.000,0.001,0.000,0.000,0.000,0.000,...,0.007,0.000,0.001,0.000,0.000,0.000,0.006,0.001,0.000,0.000
331,3,2012-05-24,세탁기,0.000,0.000,0.003,0.002,0.002,0.001,0.001,...,0.024,0.011,0.001,0.000,0.000,0.005,0.036,0.000,0.013,0.003
337,3,2012-05-25,세탁기,0.042,0.003,0.016,0.034,0.002,0.001,0.040,...,0.007,0.008,0.000,0.007,0.000,0.005,0.001,0.000,0.000,0.000
343,3,2012-05-26,세탁기,0.004,0.001,0.003,0.002,0.002,0.001,0.001,...,0.000,0.000,0.000,0.001,0.000,0.000,0.000,0.000,0.001,0.000
349,3,2012-05-27,세탁기,0.000,0.000,0.000,0.001,0.000,0.000,0.001,...,0.007,0.008,0.006,0.007,0.004,0.005,0.006,0.004,0.003,0.003
355,3,2012-05-28,세탁기,0.004,0.000,0.000,0.000,0.002,0.001,0.001,...,0.000,0.000,0.000,0.001,0.019,0.005,0.006,0.004,0.003,0.003
361,3,2012-05-29,세탁기,0.004,0.003,0.003,0.000,0.001,0.000,0.000,...,0.000,0.008,0.000,0.000,0.000,0.000,0.001,0.000,0.000,0.000
367,3,2012-05-30,세탁기,0.000,0.001,0.000,0.000,0.000,0.000,0.001,...,0.007,0.008,0.006,0.007,0.004,0.005,0.006,0.004,0.003,0.003
373,3,2012-05-31,세탁기,0.004,0.003,0.003,0.002,0.002,0.001,0.001,...,0.000,0.008,0.006,0.000,0.000,0.000,0.000,0.001,0.000,0.000

In [120]:
test_x

,H_ID,ST_DATE,PointName,H00_1,H00_2,H00_3,H00_4,H00_5,H00_6,H01_1,...,H22_3,H22_4,H22_5,H22_6,H23_1,H23_2,H23_3,H23_4,H23_5,H23_6
194,3,2012-05-01,전력총합,0.044,0.043,0.045,0.043,0.045,0.043,0.041,...,0.047,0.027,0.021,0.049,0.074,0.041,0.003,0.035,0.044,0.044
200,3,2012-05-02,전력총합,0.044,0.031,0.045,0.043,0.045,0.075,0.062,...,0.019,0.031,0.078,0.006,0.058,0.064,0.078,0.036,0.067,0.039
206,3,2012-05-03,전력총합,0.052,0.063,0.073,0.035,0.047,0.053,0.029,...,0.039,0.039,0.013,0.029,0.040,0.041,0.042,0.060,0.026,0.037
212,3,2012-05-04,전력총합,0.014,0.010,0.046,0.025,0.053,0.045,0.045,...,0.021,0.040,0.028,0.029,0.044,0.021,0.044,0.024,0.029,0.043
218,3,2012-05-05,전력총합,0.021,0.044,0.026,0.027,0.043,0.021,0.045,...,0.026,0.046,0.016,0.040,0.031,0.025,0.048,0.016,0.038,0.035
224,3,2012-05-06,전력총합,0.021,0.049,0.018,0.035,0.037,0.020,0.045,...,0.076,0.064,0.038,0.061,0.038,0.047,0.053,0.036,0.064,0.029
230,3,2012-05-07,전력총합,0.057,0.044,0.044,0.054,0.068,0.032,0.042,...,0.028,0.047,0.017,0.054,0.072,0.019,0.075,0.053,0.037,0.044
236,3,2012-05-08,전력총합,0.032,0.039,0.068,0.041,0.060,0.043,0.050,...,0.040,0.022,0.036,0.078,0.012,0.068,0.046,0.067,0.031,0.076
242,3,2012-05-09,전력총합,0.059,0.041,0.051,0.082,0.057,0.060,0.032,...,0.047,0.023,0.024,0.014,0.072,0.007,0.011,0.040,0.077,0.058
248,3,2012-05-10,전력총합,0.020,0.068,0.046,0.072,0.053,0.052,0.055,...,0.074,0.018,0.068,0.074,0.040,0.054,0.028,0.075,0.054,0.030
254,3,2012-05-11,전력총합,0.072,0.040,0.061,0.054,0.033,0.058,0.046,...,0.039,0.039,0.020,0.035,0.035,0.043,0.063,0.059,0.036,0.056
260,3,2012-05-12,전력총합,0.064,0.038,0.043,0.063,0.041,0.036,0.066,...,0.024,0.076,0.041,0.040,0.026,0.042,0.034,0.042,0.050,0.072
266,3,2012-05-13,전력총합,0.035,0.050,0.034,0.036,0.042,0.049,0.069,...,0.067,0.031,0.035,0.048,0.012,0.015,0.033,0.024,0.042,0.001
272,3,2012-05-14,전력총합,0.044,0.049,0.071,0.039,0.046,0.069,0.045,...,0.016,0.041,0.016,0.020,0.020,0.065,0.074,0.037,0.067,0.047
278,3,2012-05-15,전력총합,0.062,0.075,0.051,0.044,0.060,0.066,0.035,...,0.005,0.017,0.058,0.036,0.067,0.046,0.064,0.062,0.051,0.074
284,3,2012-05-16,전력총합,0.032,0.058,0.076,0.026,0.060,0.063,0.044,...,0.070,0.052,0.024,0.058,0.074,0.016,0.054,0.038,0.019,0.037
290,3,2012-05-17,전력총합,0.061,0.084,0.063,0.065,0.052,0.031,0.049,...,0.039,0.081,0.006,0.060,0.061,0.075,0.045,0.065,0.066,0.046
296,3,2012-05-18,전력총합,0.072,0.056,0.052,0.080,0.030,0.004,0.050,...,0.066,0.047,0.066,0.052,0.052,0.071,0.043,0.069,0.066,0.048
302,3,2012-05-19,전력총합,0.064,0.035,0.055,0.042,0.046,0.055,0.030,...,0.042,0.017,0.077,0.047,0.046,0.070,0.011,0.071,0.046,0.034
308,3,2012-05-20,전력총합,0.037,0.043,0.072,0.051,0.072,0.079,0.006,...,0.060,0.061,0.066,0.040,0.055,0.078,0.053,0.060,0.040,0.061
314,3,2012-05-21,전력총합,0.053,0.056,0.044,0.070,0.044,0.023,0.032,...,0.039,0.041,0.020,0.048,0.011,0.025,0.078,0.010,0.040,0.072
320,3,2012-05-22,전력총합,0.046,0.061,0.078,0.042,0.057,0.039,0.064,...,0.079,0.037,0.051,0.075,0.069,0.050,0.072,0.046,0.052,0.056
326,3,2012-05-23,전력총합,0.045,0.068,0.035,0.062,0.051,0.059,0.057,...,0.061,0.045,0.031,0.068,0.042,0.061,0.002,0.062,0.041,0.071
332,3,2012-05-24,전력총합,0.071,0.038,0.067,0.044,0.058,0.041,0.040,...,0.017,0.032,0.029,0.040,0.046,0.022,0.024,0.075,0.027,0.059
338,3,2012-05-25,전력총합,0.024,0.035,0.069,0.057,0.045,0.026,0.037,...,0.038,0.038,0.010,0.026,0.037,0.024,0.029,0.053,0.012,0.016
344,3,2012-05-26,전력총합,0.036,0.043,0.033,0.043,0.045,0.043,0.026,...,0.055,0.037,0.044,0.045,0.031,0.059,0.031,0.052,0.036,0.039
350,3,2012-05-27,전력총합,0.052,0.031,0.058,0.032,0.045,0.044,0.035,...,0.039,0.052,0.026,0.056,0.035,0.043,0.045,0.030,0.060,0.032
356,3,2012-05-28,전력총합,0.046,0.041,0.034,0.059,0.030,0.046,0.042,...,0.024,0.004,0.029,0.030,0.008,0.023,0.033,0.032,0.071,0.078
362,3,2012-05-29,전력총합,0.041,0.051,0.022,0.080,0.046,0.047,0.076,...,0.035,0.012,0.061,0.045,0.020,0.076,0.010,0.033,0.040,0.045
368,3,2012-05-30,전력총합,0.060,0.006,0.042,0.037,0.041,0.058,0.046,...,0.036,0.032,0.039,0.069,0.024,0.028,0.043,0.041,0.039,0.009
374,3,2012-05-31,전력총합,0.018,0.063,0.071,0.038,0.033,0.050,0.060,...,0.006,0.027,0.024,0.043,0.025,0.008,0.011,0.040,0.074,0.014

In [122]:
test_merge = pd.merge(test_x, test_y, on = 'ST_DATE')

In [123]:
test_merge

,H_ID_x,ST_DATE,PointName_x,H00_1_x,H00_2_x,H00_3_x,H00_4_x,H00_5_x,H00_6_x,H01_1_x,...,H22_3_y,H22_4_y,H22_5_y,H22_6_y,H23_1_y,H23_2_y,H23_3_y,H23_4_y,H23_5_y,H23_6_y
0,3,2012-05-01,전력총합,0.044,0.043,0.045,0.043,0.045,0.043,0.041,...,0.007,0.000,0.001,0.000,0.000,0.000,0.006,0.001,0.000,0.003
1,3,2012-05-02,전력총합,0.044,0.031,0.045,0.043,0.045,0.075,0.062,...,0.018,0.011,0.009,0.011,0.000,0.001,0.000,0.000,0.000,0.000
2,3,2012-05-03,전력총합,0.052,0.063,0.073,0.035,0.047,0.053,0.029,...,0.007,0.008,0.006,0.042,0.004,0.005,0.006,0.004,0.003,0.000
3,3,2012-05-04,전력총합,0.014,0.010,0.046,0.025,0.053,0.045,0.045,...,0.007,0.008,0.006,0.007,0.000,0.005,0.006,0.004,0.003,0.003
4,3,2012-05-05,전력총합,0.021,0.044,0.026,0.027,0.043,0.021,0.045,...,0.000,0.000,0.000,0.000,0.001,0.000,0.000,0.000,0.000,0.001
5,3,2012-05-06,전력총합,0.021,0.049,0.018,0.035,0.037,0.020,0.045,...,0.007,0.000,0.001,0.000,0.000,0.000,0.000,0.001,0.000,0.000
6,3,2012-05-07,전력총합,0.057,0.044,0.044,0.054,0.068,0.032,0.042,...,0.007,0.008,0.006,0.007,0.000,0.000,0.000,0.001,0.003,0.000
7,3,2012-05-08,전력총합,0.032,0.039,0.068,0.041,0.060,0.043,0.050,...,0.007,0.008,0.000,0.007,0.004,0.005,0.006,0.004,0.003,0.003
8,3,2012-05-09,전력총합,0.059,0.041,0.051,0.082,0.057,0.060,0.032,...,0.000,0.000,0.000,0.001,0.000,0.000,0.000,0.000,0.001,0.000
9,3,2012-05-10,전력총합,0.020,0.068,0.046,0.072,0.053,0.052,0.055,...,0.001,0.000,0.000,0.000,0.000,0.001,0.000,0.000,0.000,0.000
10,3,2012-05-11,전력총합,0.072,0.040,0.061,0.054,0.033,0.058,0.046,...,0.000,0.001,0.000,0.000,0.000,0.000,0.001,0.000,0.000,0.000
11,3,2012-05-12,전력총합,0.064,0.038,0.043,0.063,0.041,0.036,0.066,...,0.012,0.042,0.042,0.042,0.004,0.000,0.000,0.000,0.000,0.001
12,3,2012-05-13,전력총합,0.035,0.050,0.034,0.036,0.042,0.049,0.069,...,0.026,0.039,0.000,0.000,0.000,0.000,0.001,0.004,0.003,0.003
13,3,2012-05-14,전력총합,0.044,0.049,0.071,0.039,0.046,0.069,0.045,...,0.000,0.000,0.001,0.000,0.000,0.000,0.000,0.001,0.000,0.000
14,3,2012-05-15,전력총합,0.062,0.075,0.051,0.044,0.060,0.066,0.035,...,0.001,0.000,0.000,0.000,0.000,0.001,0.000,0.000,0.000,0.000
15,3,2012-05-16,전력총합,0.032,0.058,0.076,0.026,0.060,0.063,0.044,...,0.000,0.001,0.000,0.000,0.000,0.000,0.000,0.001,0.000,0.000
16,3,2012-05-17,전력총합,0.061,0.084,0.063,0.065,0.052,0.031,0.049,...,0.007,0.008,0.019,0.011,0.001,0.000,0.000,0.000,0.000,0.001
17,3,2012-05-18,전력총합,0.072,0.056,0.052,0.080,0.030,0.004,0.050,...,0.007,0.008,0.006,0.007,0.004,0.005,0.006,0.004,0.003,0.003
18,3,2012-05-19,전력총합,0.064,0.035,0.055,0.042,0.046,0.055,0.030,...,0.000,0.008,0.006,0.007,0.004,0.005,0.000,0.000,0.003,0.003
19,3,2012-05-20,전력총합,0.037,0.043,0.072,0.051,0.072,0.079,0.006,...,0.010,0.039,0.001,0.000,0.001,0.000,0.000,0.000,0.000,0.001
20,3,2012-05-21,전력총합,0.053,0.056,0.044,0.070,0.044,0.023,0.032,...,0.007,0.008,0.006,0.000,0.004,0.005,0.006,0.004,0.003,0.003
21,3,2012-05-22,전력총합,0.046,0.061,0.078,0.042,0.057,0.039,0.064,...,0.000,0.000,0.001,0.000,0.000,0.000,0.000,0.001,0.000,0.000
22,3,2012-05-23,전력총합,0.045,0.068,0.035,0.062,0.051,0.059,0.057,...,0.007,0.000,0.001,0.000,0.000,0.000,0.006,0.001,0.000,0.000
23,3,2012-05-24,전력총합,0.071,0.038,0.067,0.044,0.058,0.041,0.040,...,0.024,0.011,0.001,0.000,0.000,0.005,0.036,0.000,0.013,0.003
24,3,2012-05-25,전력총합,0.024,0.035,0.069,0.057,0.045,0.026,0.037,...,0.007,0.008,0.000,0.007,0.000,0.005,0.001,0.000,0.000,0.000
25,3,2012-05-26,전력총합,0.036,0.043,0.033,0.043,0.045,0.043,0.026,...,0.000,0.000,0.000,0.001,0.000,0.000,0.000,0.000,0.001,0.000
26,3,2012-05-27,전력총합,0.052,0.031,0.058,0.032,0.045,0.044,0.035,...,0.007,0.008,0.006,0.007,0.004,0.005,0.006,0.004,0.003,0.003
27,3,2012-05-28,전력총합,0.046,0.041,0.034,0.059,0.030,0.046,0.042,...,0.000,0.000,0.000,0.001,0.019,0.005,0.006,0.004,0.003,0.003
28,3,2012-05-29,전력총합,0.041,0.051,0.022,0.080,0.046,0.047,0.076,...,0.000,0.008,0.000,0.000,0.000,0.000,0.001,0.000,0.000,0.000
29,3,2012-05-30,전력총합,0.060,0.006,0.042,0.037,0.041,0.058,0.046,...,0.007,0.008,0.006,0.007,0.004,0.005,0.006,0.004,0.003,0.003
30,3,2012-05-31,전력총합,0.018,0.063,0.071,0.038,0.033,0.050,0.060,...,0.000,0.008,0.006,0.000,0.000,0.000,0.000,0.001,0.000,0.000

In [124]:
test_merge.columns = title

In [125]:
cnt = 3
cnt1 = 149
test_final = test_merge.iloc[:, [cnt, cnt1]]

while cnt < 146 :
    cnt = cnt + 1
    cnt1 = cnt1 + 1
    plus = test_merge.iloc[:, [cnt,cnt1]]
    test_final = test_final.append(plus)

In [126]:
test_final

        x      x
0   0.044  0.004
1   0.044  0.000
2   0.052  0.001
3   0.014  0.004
4   0.021  0.004
..    ...    ...
26  0.032  0.003
27  0.078  0.003
28  0.045  0.000
29  0.009  0.003
30  0.014  0.000

[4464 rows x 2 columns]

In [129]:
test_Y =test_final

In [130]:
for i in range(4464) :
    if test_final.iloc[i, 1] > 0.007 :
        test_Y.iloc[i,1] = 1
    else :
        test_Y.iloc[i,1] = 0

In [131]:
test_Y['hour'] = 3

In [132]:
cnt3 = 0
for b in range(4464) :
    test_Y.iloc[b, 2] = num[cnt3]
    cnt3 += 1
    if cnt3 == 144 :
        cnt3 = 0

In [133]:
test_y = test_Y.iloc[:, 1]

In [134]:
test_x = test_Y.iloc[:,[0,2]]

In [135]:
test_x

        x  hour
0   0.044     0
1   0.044     0
2   0.052     0
3   0.014     0
4   0.021     0
..    ...   ...
26  0.032    23
27  0.078    23
28  0.045    23
29  0.009    23
30  0.014    23

[4464 rows x 2 columns]

In [44]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(ele_X, ele_y)

In [161]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf = clf.fit(ele_X, ele_y)

In [162]:
pred = clf.predict(test_x)

In [142]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, classification_report

In [147]:
# 12. 모델 학습
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression, RidgeClassifier
from xgboost import XGBClassifier 
from sklearn.svm import SVC 
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import SGDClassifier
from sklearn.neighbors import KNeighborsClassifier

In [143]:
print(accuracy_score(pred, test_y), precision_score(pred, test_y), recall_score(pred, test_y))

0.943100358422939 0.008298755186721992 0.11764705882352941

In [158]:
models = [
    ('XGBOOST', XGBClassifier()),
    ('Randomforest', RandomForestClassifier()),
    ('SVC', SVC()),
    ('GBC', GradientBoostingClassifier()),
    ('sgd', SGDClassifier())
]

In [159]:
vc = VotingClassifier(models, voting='hard')
vc.fit(ele_X, ele_y)
predicted = vc.predict(test_x)

C:\Users\Admin\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
[17:39:47] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
C:\Users\Admin\anaconda3\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

In [163]:
print(classification_report(pred, test_y))

              precision    recall  f1-score   support

         0.0       0.99      0.95      0.97      4441
         1.0       0.00      0.04      0.01        23

    accuracy                           0.94      4464
   macro avg       0.50      0.49      0.49      4464
weighted avg       0.99      0.94      0.96      4464

In [145]:
df = pd.DataFrame(pred)

In [146]:
df

        0
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
...   ...
4459  0.0
4460  0.0
4461  0.0
4462  0.0
4463  0.0

[4464 rows x 1 columns]