In [11]:
import pandas as pd
import glob

# files=glob.glob('온도*.txt')

# temp = []
# for filename in files:
#     temp.append(pd.read_csv(filename, sep='\t', encoding='cp949'))


# temp = pd.concat(temp, ignore_index=True)

files=glob.glob('전력*.txt')

ele = []
for filename in files:
    ele.append(pd.read_csv(filename, sep='\t', encoding='cp949'))


ele = pd.concat(ele, ignore_index=True)

In [12]:
# ele_drop.to_csv('ele_tttt.csv', index=False, encoding='euc-kr')

In [13]:
ele_drop = ele.drop(['HA','APT_TF','M2','PersonCount'], axis=1)

ele_num = ele_drop['H_ID'] == 1
elenum = ele_drop[ele_num]

temp_1 = elenum['PointName'] == '전력총합'
temp_2 = elenum['PointName'] == '에어컨' 
ele_total = elenum[temp_1]
ele_se = elenum[temp_2]

ele_total = ele_total.sort_values(['H_ID','ST_DATE'])
ele_se = ele_se.sort_values(['H_ID','ST_DATE'])

In [14]:
ele_total

,H_ID,ST_DATE,PointName,H00_1,H00_2,H00_3,H00_4,H00_5,H00_6,H01_1,...,H22_3,H22_4,H22_5,H22_6,H23_1,H23_2,H23_3,H23_4,H23_5,H23_6
96487,1,2012-01-01,전력총합,0.093,0.079,0.062,0.069,0.058,0.029,0.025,...,0.081,0.044,0.041,0.039,0.025,0.000,0.036,0.033,0.032,0.031
96488,1,2012-01-02,전력총합,0.033,0.030,0.003,0.009,0.022,0.021,0.021,...,0.047,0.028,0.051,0.035,0.043,0.027,0.029,0.039,0.036,0.017
96489,1,2012-01-03,전력총합,0.010,0.008,0.022,0.019,0.008,0.013,0.044,...,0.036,0.035,0.034,0.034,0.034,0.037,0.036,0.033,0.032,0.031
96490,1,2012-01-04,전력총합,0.033,0.030,0.028,0.029,0.027,0.027,0.027,...,0.073,0.080,0.083,0.065,0.043,0.056,0.057,0.046,0.042,0.014
96491,1,2012-01-05,전력총합,0.033,0.030,0.028,0.029,0.027,0.027,0.027,...,0.036,0.035,0.034,0.023,0.027,0.043,0.028,0.014,0.023,0.028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,1,2012.9.5,전력총합,0.022,0.020,0.019,0.021,0.021,0.021,0.013,...,0.019,0.019,0.007,0.009,0.016,0.046,0.040,0.052,0.046,0.039
32,1,2012.9.6,전력총합,0.031,0.034,0.036,0.024,0.025,0.024,0.031,...,0.012,0.008,0.012,0.020,0.038,0.019,0.024,0.022,0.024,0.040
37,1,2012.9.7,전력총합,0.111,0.050,0.038,0.025,0.025,0.033,0.032,...,0.044,0.037,0.036,0.041,0.059,0.099,0.075,0.036,0.031,0.043
42,1,2012.9.8,전력총합,0.046,0.030,0.032,0.049,0.042,0.045,0.040,...,0.043,0.041,0.039,0.041,0.038,0.046,0.045,0.050,0.053,0.046
47,1,2012.9.9,전력총합,0.050,0.048,0.046,0.044,0.042,0.033,0.031,...,0.034,0.041,0.040,0.034,0.029,0.029,0.030,0.034,0.032,0.039

In [15]:
ele_merge = pd.merge(ele_total, ele_se, on = 'ST_DATE')

In [16]:
ele_merge

,H_ID_x,ST_DATE,PointName_x,H00_1_x,H00_2_x,H00_3_x,H00_4_x,H00_5_x,H00_6_x,H01_1_x,...,H22_3_y,H22_4_y,H22_5_y,H22_6_y,H23_1_y,H23_2_y,H23_3_y,H23_4_y,H23_5_y,H23_6_y
0,1,2012-07-10,전력총합,0.000,0.000,0.000,0.000,0.000,0.000,0.031,...,0.000,0.000,0.000,0.001,0.000,0.000,0.000,0.000,0.000,0.00
1,1,2012-07-11,전력총합,0.042,0.033,0.030,0.031,0.027,0.027,0.027,...,0.000,0.000,0.001,0.011,0.000,0.000,0.000,0.000,0.000,0.00
2,1,2012-07-12,전력총합,0.035,0.035,0.026,0.025,0.037,0.029,0.025,...,0.001,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00
3,1,2012-07-13,전력총합,0.031,0.029,0.026,0.025,0.023,0.014,0.031,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00
4,1,2012-07-14,전력총합,0.046,0.045,0.045,0.049,0.052,0.033,0.052,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.019,0.000,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1,2012.9.5,전력총합,0.022,0.020,0.019,0.021,0.021,0.021,0.013,...,0.000,0.000,0.001,0.000,0.000,0.000,0.000,0.019,0.000,0.00
120,1,2012.9.6,전력총합,0.031,0.034,0.036,0.024,0.025,0.024,0.031,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.001,0.00
121,1,2012.9.7,전력총합,0.111,0.050,0.038,0.025,0.025,0.033,0.032,...,0.001,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00
122,1,2012.9.8,전력총합,0.046,0.030,0.032,0.049,0.042,0.045,0.040,...,0.011,0.012,0.011,0.011,0.012,0.013,0.013,0.019,0.021,0.02
123,1,2012.9.9,전력총합,0.050,0.048,0.046,0.044,0.042,0.033,0.031,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00

In [17]:
title = ['H_ID_x', 'ST_DATE', 'PointName_x']

In [18]:
for i in range(144) :
    title.append('x')

In [19]:
title.append('H_ID_y')

In [20]:
title.append('PointName_y')

In [21]:
for i in range(144) :
    title.append('y')

In [22]:
len(title)

293

In [23]:
ele_merge.columns = title

In [24]:
ele_merge

,H_ID_x,ST_DATE,PointName_x,x,x,x,x,x,x,x,...,y,y,y,y,y,y,y,y,y,y
0,1,2012-07-10,전력총합,0.000,0.000,0.000,0.000,0.000,0.000,0.031,...,0.000,0.000,0.000,0.001,0.000,0.000,0.000,0.000,0.000,0.00
1,1,2012-07-11,전력총합,0.042,0.033,0.030,0.031,0.027,0.027,0.027,...,0.000,0.000,0.001,0.011,0.000,0.000,0.000,0.000,0.000,0.00
2,1,2012-07-12,전력총합,0.035,0.035,0.026,0.025,0.037,0.029,0.025,...,0.001,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00
3,1,2012-07-13,전력총합,0.031,0.029,0.026,0.025,0.023,0.014,0.031,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00
4,1,2012-07-14,전력총합,0.046,0.045,0.045,0.049,0.052,0.033,0.052,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.019,0.000,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1,2012.9.5,전력총합,0.022,0.020,0.019,0.021,0.021,0.021,0.013,...,0.000,0.000,0.001,0.000,0.000,0.000,0.000,0.019,0.000,0.00
120,1,2012.9.6,전력총합,0.031,0.034,0.036,0.024,0.025,0.024,0.031,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.001,0.00
121,1,2012.9.7,전력총합,0.111,0.050,0.038,0.025,0.025,0.033,0.032,...,0.001,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00
122,1,2012.9.8,전력총합,0.046,0.030,0.032,0.049,0.042,0.045,0.040,...,0.011,0.012,0.011,0.011,0.012,0.013,0.013,0.019,0.021,0.02
123,1,2012.9.9,전력총합,0.050,0.048,0.046,0.044,0.042,0.033,0.031,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00

In [25]:
ele_x = ele_merge.iloc[:, [3, 149]]

In [26]:
ele_x

         x      y
0    0.000  0.034
1    0.042  0.000
2    0.035  0.000
3    0.031  0.000
4    0.046  0.000
..     ...    ...
119  0.022  0.001
120  0.031  0.000
121  0.111  0.000
122  0.046  0.000
123  0.050  0.022

[124 rows x 2 columns]

In [27]:
cnt = 3
cnt1 = 149

while cnt < 146 :
    cnt = cnt + 1
    cnt1 = cnt1 + 1 
    plus = ele_merge.iloc[:, [cnt, cnt1]]
    ele_x = ele_x.append(plus)

In [28]:
ele_x

         x      y
0    0.000  0.034
1    0.042  0.000
2    0.035  0.000
3    0.031  0.000
4    0.046  0.000
..     ...    ...
119  0.039  0.000
120  0.040  0.000
121  0.043  0.000
122  0.046  0.020
123  0.039  0.000

[17856 rows x 2 columns]

In [29]:
ele_x['hour'] = 3

In [30]:
num = []
for a in range(0,24) :
    num.append(a)
    num.append(a)
    num.append(a)
    num.append(a)
    num.append(a)
    num.append(a)

In [31]:
print(ele_x['x'].count())

17856

In [32]:
cnt3 = 0
for b in range(ele_x['x'].count()) :
    ele_x.iloc[b, 2] = num[cnt3]
    cnt3 += 1
    if cnt3 == 144 :
        cnt3 = 0

In [33]:
ele_x

         x      y  hour
0    0.000  0.034     0
1    0.042  0.000     0
2    0.035  0.000     0
3    0.031  0.000     0
4    0.046  0.000     0
..     ...    ...   ...
119  0.039  0.000    23
120  0.040  0.000    23
121  0.043  0.000    23
122  0.046  0.020    23
123  0.039  0.000    23

[17856 rows x 3 columns]

In [34]:
ele_y = ele_x.iloc[:, 1]
ele_X = ele_x.iloc[:, [0,2]]

In [35]:
ele_Y = ele_y

In [56]:
for i in range(ele_x['x'].count()) :
    if ele_y.iloc[i] > 0.020 :
        ele_Y.iloc[i] = 1
    else :
        ele_Y.iloc[i] = 0

/Users/kimtaegyu/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [57]:
ele_Y

0      1.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
119    0.0
120    0.0
121    0.0
122    1.0
123    0.0
Name: y, Length: 17856, dtype: float64

In [58]:
import numpy as np
from sklearn.model_selection import train_test_split

In [59]:
X_train, X_test, y_train, y_test = train_test_split(ele_X, ele_Y, test_size=0.2, random_state=42)

In [60]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

In [61]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf = clf.fit(ele_X, ele_y)

In [62]:
pred = clf.predict(X_test)

In [63]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, classification_report

In [64]:
# # 12. 모델 학습
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.ensemble import VotingClassifier
# from sklearn.linear_model import LogisticRegression, RidgeClassifier
# from xgboost import XGBClassifier 
# from sklearn.svm import SVC 
# from sklearn.ensemble import GradientBoostingClassifier

# from sklearn.model_selection import GridSearchCV
# from sklearn.linear_model import SGDClassifier
# from sklearn.neighbors import KNeighborsClassifier

In [65]:
print(accuracy_score(pred, y_test), precision_score(pred, y_test), recall_score(pred, y_test))

0.9935610302351624 0.6101694915254238 1.0

In [66]:
# vc = VotingClassifier(models, voting='hard')
# vc.fit(ele_X, ele_y)
# predicted = vc.predict(test_x)

NameError: name 'models' is not defined

In [67]:
print(classification_report(pred, y_test))

              precision    recall  f1-score   support

         0.0       1.00      0.99      1.00      3536
         1.0       0.61      1.00      0.76        36

    accuracy                           0.99      3572
   macro avg       0.81      1.00      0.88      3572
weighted avg       1.00      0.99      0.99      3572